%p#notice= notice

%p
  %b Country:
  = @state.country
%p
  %b Name:
  = @state.name
%p
  %b Code:
  = @state.code

= link_to 'Edit', edit_super_admin_state_path(@state)
\|
= link_to 'Back', super_admin_states_path
