%h1 Listing community_levels

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @community_levels.each do |community_level|
    %tr
      %td= community_level.name
      %td= link_to 'Show', [:super_admin,community_level]
      %td= link_to 'Edit', edit_super_admin_community_level_path(community_level)
      %td= link_to 'Destroy', [:super_admin,community_level], method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Community level', new_super_admin_community_level_path
