%p#notice= notice

%p
  %b Name:
  = @country.name
%p
  %b Code:
  = @country.code
%p
  %b Display:
  = @country.display

= link_to 'Edit', edit_super_admin_country_path(@country)
\|
= link_to 'Back', super_admin_countries_path
