= link_to "Community Types", super_admin_community_types_path
= link_to "Community Levels", super_admin_community_levels_path
= link_to "Areas", super_admin_areas_path
= link_to "Districts", super_admin_districts_path
= link_to "Taluks", super_admin_taluks_path
= link_to "States", super_admin_states_path
= link_to "Countries", super_admin_countries_path
= link_to "Products", super_admin_products_path
